
# WEEK 3: Python Data Structures for Data Analysis

**Programme:** Data Science  
**Course Title:** Data Visualization and Storytelling (Practical)  
**Week:** 3  
**Contact Hours:** 2 Hours Lecture + 2 Hours Practical  

---

## Course Overview

This week introduces Python Data Structures. Data structures allow us to store, organize, and process data efficiently.

Students will learn:

- Lists
- Tuples
- Sets
- Dictionaries
- Loops
- Computing averages
- Finding maximum values

These skills are essential for data analysis and visualization.


## Learning Outcomes

By the end of this week, students should be able to:

### Cognitive
- Explain Python data structures
- Understand how data is stored and accessed

### Psychomotor
- Create lists, tuples, sets, and dictionaries
- Use loops to process data
- Compute averages and find maximum values

### Affective
- Develop confidence handling structured data
- Appreciate organized data storage

# PART 1: LISTS

In [ ]:
scores = [65, 70, 80, 55, 90]
print(scores)

[65, 70, 80, 55, 90]

In [ ]:
print(scores[0])
print(scores[2])

65
80

In [ ]:
for score in scores:
    print(score)

65
70
80
55
90

In [ ]:
total = 0
for score in scores:
    total = total + score

average = total / len(scores)
print("Average score:", average)

Average score: 72.0

In [ ]:
highest = scores[0]
for score in scores:
    if score > highest:
        highest = score

print("Highest score:", highest)

Highest score: 90

# PART 2: TUPLES

In [ ]:
subjects = ("Math", "English", "Science")
print(subjects)
print(subjects[0])

('Math', 'English', 'Science')
Math

# PART 3: SETS

In [ ]:
scores_set = {65, 70, 70, 80, 90}
print(scores_set)

{80, 65, 90, 70}

# PART 4: DICTIONARIES

In [ ]:
student = {
    "name": "David",
    "math": 75,
    "english": 80,
    "science": 70
}

print(student)
print(student["math"])

{'name': 'David', 'math': 75, 'english': 80, 'science': 70}
75

In [ ]:
for key in student:
    print(key, student[key])

name David
math 75
english 80
science 70

In [ ]:
total = 0
for subject in ["math", "english", "science"]:
    total += student[subject]

average = total / 3
print("Average:", average)

Average: 75.0

# PART 5: Multiple Student Records

In [ ]:
students = {
    "S001": 65,
    "S002": 80,
    "S003": 45,
    "S004": 90
}

print(students)

{'S001': 65, 'S002': 80, 'S003': 45, 'S004': 90}

In [ ]:
highest_id = None
highest_score = 0

for student_id in students:
    score = students[student_id]

    if score > highest_score:
        highest_score = score
        highest_id = student_id

print("Highest scoring student:", highest_id)
print("Score:", highest_score)

Highest scoring student: S004
Score: 90

# ASSIGNMENT (Week 3)

Submit your Jupyter Notebook (.ipynb) through your GitHub repository.

# ASSIGNMENT 1. Create a list of 5 student scores

# ASSIGNMENT 2. Compute the average score

# ASSIGNMENT 3. Find the highest score

# ASSIGNMENT 4. Create a dictionary with 5 students and scores

# ASSIGNMENT 5. Find the highest scoring student

# ASSIGNMENT 6. Create a tuple of subjects

# ASSIGNMENT 7. Create a set of unique scores

Good Job!