<a href="https://colab.research.google.com/github/Innocentjethro/DTS-works/blob/main/week3_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Assignment for week three (3)
# 1.create a list of 5 students scores
score = (50,30,23,55,33)
print(score)

In [ ]:
# compute the average score
average = sum(score/len(score))
print(average)

In [ ]:
# find the hghest score
highest_score = max(score)
print(highest_score)

In [ ]:
#creat a dictionary with 5 students with their score
students ={'innocent':90,'caleb':88,'james':55,'demian':78,'david':80}
print(students)

In [ ]:
# find the highest scoring sudent
highest_scoring_student = max(students, key=students.get)
print(highest_scoring_student)

In [ ]:
# creat a turple of subjects
subjects = ('maths','english','physics','biology','chemistry')
print(subjects)

In [ ]:
# creat a set of unique score
unique_score = set(score)
print(unique_score)

Name: Nakai Innocont Jethro


MAT NUM/REG NUMBER: 202550208526JF


DEP:DATA SCIENCE